<header class="header hear--main">
  <div class="container header__container" >
    <a href="#" class="logo">
    <img src="img/logo.svg" alt="Max Dev Logo">
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Work</a></li>
        <li class="nav__item"><a href="#" class="nav__link">News</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header_contacts"></div>
      <a href="tel:380673842880" class="header-contacts__link contacts-link contacts-link--call">
        <span class="contacts__link__caption">Call us</span>
        <span class="contacts-link__value">38(067)3842880</span>
      </a>
      <a href="meilto:kladmax@gmail.com" class="header-contacts__link contacts-link contacts-link--mail">
        <span class="contacts__link__caption">Talk to as</span>
        <span class="contacts-link__value">kladmax@gmail.com</span>
      </a>

  </div>
</header>
